@using Online.Vote.Domain;
@model IList<MatchPKInfo>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <title>Index</title>
</head>
<body>
    <div>
        <h3>安排场次</h3>
        @using (Html.BeginForm())
        {
            <p>
                <span>场次名称：</span>@Html.DropDownList("matchId", new SelectList(ViewBag.match, "ID", "MatchName"), "请选择")
            </p>
            <p>
                <span>选手1：</span>@Html.DropDownList("player1Id", new SelectList(ViewBag.player, "ID", "PlayerName"), "请选择")
            </p>
            <p>
                <span>选手2：</span>@Html.DropDownList("player2Id", new SelectList( ViewBag.player, "ID", "PlayerName"), "请选择")
            </p>

            <input type="button" value="添加" name="name2" id="btn1" />
        }
        <h3>场次</h3>
        <table>
            <tr>
                <th>场次</th>
                <th>第一位选手姓名</th>
                <th>第一位选手票数</th>
                <th>第二位选手姓名</th>
                <th>第二位选手票数</th>
                <th>状态</th>
            </tr>
            @if (Model == null || Model.Count() == 0)
            {
                <tr><td colspan="7">没有满足条件的数据！</td></tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        @*<td>@Html.DisplayFor(modelItem => item.ID)</td>*@
                        <td>@Html.DisplayFor(modelItem => item.MatchId.MatchName)</td>                       
                        <td>@Html.DisplayFor(modelItem => item.FirstPlayerId.PlayerName)</td>
                        <td>@Html.DisplayFor(modelItem => item.FirstPlayerScore)</td>
                        <td>@Html.DisplayFor(modelItem => item.SecondPlayerId.PlayerName)</td>
                        <td>@Html.DisplayFor(modelItem => item.SecondPlayerScore)</td>
                        
                        <td><input type="button" id="btn2" value="关闭" flag="0" /> </td>
                    </tr>
                }
            }
        </table>
    </div>

    <script type="text/javascript">
        //保存操作
        $("#btn1").click(function () {
            //post 方式
            $.post("/MatchPKInfo/Create",
                {
                    matchId: $("matchId").val(),
                    player1Id: $("player1Id").val(),
                    player2Id: $("player2Id").val()

                },
                function (result) {
                    //请求成功的操作           
            }, "json");
            
        });
        //状态切换操作
   $("#btn2").click(function(){
       var flag = $(this).attr("flag");
       switch(flag)
       {
           case "0" : $("#btn2").val("开启"); flag = "1";break;
           case "1" : $("#btn2").val("关闭"); flag = "0";
       }
       $(this).attr("flag",flag);//给标记属性重新赋值
   });
    </script>
</body>
</html>
